@import '../../assets/styles/styles.scss';

.VCart {
  margin-bottom: 100px;
  .linkToMain {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: $padding * 2;
    border: solid 1px #aeaeae;
    text-decoration: none;
  }
  .total {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: $padding * 3;
    display: flex;
    justify-content: center;
    background: #3fb984;
    .name {
      margin-right: $margin * 2;
    }
  }
}
