@import '../../assets/styles/styles.scss';

.vCatalogItem {
  .image {
    width: 100px;
  }
  flex-basis: 25%;
  box-shadow: 0 0 8px 0 #e0e0e0;
  padding: $padding * 2;
  margin-bottom: $margin * 2;
}
